In [99]:
import pandas as pd

In [100]:
bezrobotni = pd.read_csv("Bezrobotni.csv")
ceny = pd.read_csv("Ceny_mieszkan.csv")
dochody = pd.read_csv("Dochody_na_mieszkanca.csv")
wynagrodzenie = pd.read_csv("Przecietne_wynagrodzenie.csv")
rozwody = pd.read_csv("Rozwody_i_separacje.csv")
ludnosc = pd.read_csv("Ludnosc.csv")

In [101]:
list = [bezrobotni, ceny, dochody, wynagrodzenie, rozwody]

for i in list:
    i.drop(['oid', 'kod KTS', 'powierzchnia', 'rok', 'TERYT', 'Typ powiatu', 'TERYT województwa'], axis=1, inplace=True)

In [102]:
bezrobotni.rename(columns={
    'Bezrobotni zarejestrowani pozostający bez pracy dłużej niż 1 rok|ogółem' : 'Bezrobotni'
}, inplace=True)
ceny.rename(columns={
    'Średnia cena lokali mieszkalnych sprzedanych w ramach transakcji rynkowych|ogółem|ogółem' : 'Ceny mieszkan'
}, inplace=True)
dochody.rename(columns={
    'Dochody na 1 mieszkańca|gminy łącznie z miastami na prawach powiatu|ogółem' : 'Dochody na mieszkanca'
}, inplace=True)
wynagrodzenie.rename(columns={
    'Przeciętne miesięczne wynagrodzenia brutto|ogółem' : 'Wynagrodzenie'
}, inplace=True)
rozwody.rename(columns={
    'Rozwody i separacje|rozwody|ogółem' : 'Rozwody i separacje'
}, inplace=True)

In [103]:
bezrobotni.head()

        powiat    Województwo  Bezrobotni
0  nowosądecki    małopolskie      3256.0
1    tarnowski    małopolskie      2009.0
2    gorzowski       lubuskie       402.0
3     koniński  wielkopolskie      1928.0
4    poznański  wielkopolskie       913.0

In [104]:
ludnosc.columns = ludnosc.columns.str.strip()

ludnosc = pd.DataFrame({
    'powiat': ludnosc['Powiaty'],
    'Ludnosc_powiaty': ludnosc['Ludnosc']
})

print(ludnosc)

                powiat  Ludnosc_powiaty
0        bolesławiecki            90103
1       dzierżoniowski           100813
2            głogowski            89102
3             górowski            34870
4             jaworski            50116
..                 ...              ...
375         świdwiński            46724
376            wałecki            53039
377           Koszalin           107048
378           Szczecin           401907
379        Świnoujście            40888

[380 rows x 2 columns]

In [105]:
bezrobotni['powiat'] = bezrobotni['powiat'].str.strip()
ludnosc['powiat'] = ludnosc['powiat'].str.strip()

In [106]:
bezrobotni_merge = bezrobotni.merge(ludnosc, on='powiat')

In [107]:
bezrobotni_merge['Bezrobotni_średnia_powiaty'] = (bezrobotni_merge['Bezrobotni']/bezrobotni_merge['Ludnosc_powiaty'])

In [108]:
print(bezrobotni_merge[['powiat', 'Bezrobotni', 'Ludnosc_powiaty', 'Bezrobotni_średnia_powiaty']])

           powiat  Bezrobotni  Ludnosc_powiaty  Bezrobotni_średnia_powiaty
0     nowosądecki      3256.0           216796                    0.015019
1       tarnowski      2009.0           201497                    0.009970
2       gorzowski       402.0            71836                    0.005596
3        koniński      1928.0           130053                    0.014825
4       poznański       913.0           399272                    0.002287
..            ...         ...              ...                         ...
395     siedlecki       585.0            81362                    0.007190
396    sokołowski       571.0            53804                    0.010613
397     węgrowski       789.0            65822                    0.011987
398  sochaczewski       525.0            85045                    0.006173
399   żyrardowski      1550.0            75749                    0.020462

[400 rows x 4 columns]

In [109]:
bezrobotni.isnull

<bound method DataFrame.isnull of            powiat    Województwo  Bezrobotni
0     nowosądecki    małopolskie      3256.0
1       tarnowski    małopolskie      2009.0
2       gorzowski       lubuskie       402.0
3        koniński  wielkopolskie      1928.0
4       poznański  wielkopolskie       913.0
..            ...            ...         ...
375     siedlecki    mazowieckie       585.0
376    sokołowski    mazowieckie       571.0
377     węgrowski    mazowieckie       789.0
378  sochaczewski    mazowieckie       525.0
379   żyrardowski    mazowieckie      1550.0

[380 rows x 3 columns]>